:root {
    --nav-background-color: linear-gradient(#a78bfa, #38bdf8);
    --main-background-color: #f5f3ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.main-container {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.7fr 2fr 1.8fr;
}


nav {
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: var(--nav-background-color);
    color: white;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 2.3rem;
    font-weight: bolder;
}

.material-symbols-outlined.logo {
    font-size: 40px;
}

.material-symbols-outlined.icon {
    font-size: 30px;
}

.main-links,
.extra-settings {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.main-links>.link,
.extra-settings>.link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    gap: 0.8rem;
}

.main-links,
.extra-settings {
    margin-left: 3.5px;
}

header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 10px 10px -10px black;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

form {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.material-symbols-outlined.search {
    font-size: 2rem;
}

input[type="text"] {
    width: 80%;
    border-radius: 99px;
    height: 1.7rem;
    background-color: rgb(231, 231, 231);
    border-width: 0;
    padding: 20px;
    font-size: 20px;
}

.small-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 999px;
}

.large-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 999px;
}

.small-profile-display,
.large-profile-display {
    display: flex;
    align-items: center;
}

.small-profile-display {
    justify-content: center;
}

.material-symbols-outlined.notification {
    font-size: 2rem;
    color: black;
}

.small-profile {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.user-greeting {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 20px;
}

.user-greeting>p:last-child {
    font-size: 1.5rem;
}

.account-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.account-buttons button {
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: bold;
    background: var(--nav-background-color);
    color: white;
    border: none;
}

main {
    grid-column: 2;
    grid-row: 2 / 4;
    padding: 2rem;
    background: var(--main-background-color);
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.card,
.announcements-card,
.trending-profiles {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: white;
}

.card {
    height: 16rem;
    border-left: 6px solid orange;
}

.announcements-card,
.trending-profiles {
    padding: 2rem;
}

.trending-profiles {
    gap: 2rem;
}

.share-icons {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    height: 100%;
}

h6:first-child {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.announcements-section {
    grid-column: 3;
    grid-row: 2;
    padding: 2rem;
    background: var(--main-background-color);
}

hr {
    margin: 1rem 0;
}

.trending-section {
    grid-column: 3;
    grid-row: 3;
    padding: 2rem;
    background: var(--main-background-color);
}

.profile {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-description>p:first-child {
    font-weight: bold;
}

.profile-description>p:last-child {
    font-size: 1rem;
}